.projectCard {
  border: 1px black solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  padding: 2px;
  margin: 1px;
  text-align: left;
  display: block;
  height: 20%;
}

.searchInput {
  border-radius: 2px;
  border: 1px black solid;
  width: 65%;
  height: 50%;
  font-size: large;
}

  .tabContent {
  margin: 2rem auto;
  height: 20%;
  width: 75%;          
  text-align: center;
}

.searchTabButton,
.aboutTabButton {
  margin: 2rem auto;

}

.logo {
  margin: 2rem auto;
}

